body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.title{
    position: relative;
    padding: 5px;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, rgba(67, 67, 238, 0.726) , rgb(55, 0, 255));
    color: white;
    text-align: center;
}

.main {
    position: relative;
    top: 0px;
    left: 0px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}



.aside {
    
    display: flex;
    position: relative;
    top: 0px;
    left: 0px;
    width: 20%;
    height: auto;
    padding: 10px 2px;
    
    flex-direction: column;
    

}

.search-form{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
    padding-top: 0px;
    margin-top: 0px;
    justify-content: space-evenly;
    position: relative;
    align-items: left;
    width: 100%;
    text-align: left;
    align-self: center;
}

.search-input{
    border: 2px solid black;
    position: relative;
    padding: 5px 2px;
    width: 100%;
    margin: 5px 0px;
    

    border-radius: 3px;
    padding: 10px 5px;
    
}

.buttons{
    border: 2px solid black;
    position: relative;
    padding: 5px 2px;
    width: 100%;
    color: white;
    background-color: cornflowerblue;
    border-radius: 5px;

}

.buttons:hover{
    cursor: pointer;
    box-shadow: 2px 2px grey;
}


.search-history{
    position: relative;
   
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-top: 5px solid black;
    padding-top: 5px;
    justify-content: space-between;

}

.history-buttons{
    border: 2px solid black;
    position: relative;
    padding: 5px 2px;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: lightgrey;
}

.history-buttons:hover{
    background-color: cornflowerblue;
    border-radius: 5px;
}


.detail-window-frame{
    
    width: 79%;
    height: 100%;
    margin-left: 5px;
    
}

.detail-window{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;

}

.five-day-forecast-window{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    
}

.forecast-window{
    border-radius: 5px;
    width: 200px;
    height: 400px;
    
}


.bold{
    font-weight: bold;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 1.5em;
}

span{
    margin-top: 10px;
}